*{
    padding: 0;
    margin: 0;
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.main{
    background-image: url(img/Rain-or-Shine-II-Cover-Image-SS.webp);
    height: 80vh;
    position: relative;
}
.main .box{
    width: 100%;
    height: 80vh;
    opacity: 0.2;
    background-color: rgb(28, 29, 31);
    position: absolute;
    top: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;

    /* border-bottom: 2px solid black; */
    height: 60px;
    /* justify-content: center; */
    align-items:center ;
    position: sticky;
    top: 0;
    
    
}
span{
    display: flex;
}
.logo{
    font-size: 40px;
    font-weight: 1000;
    margin-left: 3vw;
    /* height: 100px; */
    /* width: 100px; */
    /* border :2px solid black; */
    border-radius: 15px;
    background-color: rgba(240, 248, 255, 0.559);
    backdrop-filter: blur(1px);

}


span li{
    list-style: none;
    margin: 10px;
    /* margin-left:10vw; */
    
}
li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: black;
    /* cursor: pointer; */
}



button{
    height: 40px;
    margin-right:3vw ;
    width: 80px;
    color: aliceblue;
    font-weight: 800;
    background-color: black;
    border-radius: 15px;
  
    

}
.middle{

    display: flex;
    margin: 120px auto;
    /* margin-bottom: 50px; */
    margin-top: 200px;
    
    flex-direction: column;

    width: 900px;
    justify-content: center;
    font-weight: 900;
    font-size: x-large;
    align-items: center;
    padding: 50px;
    /* margin: 10px; */
}
.but{
    margin: 10px;
    width: 100px;
    height: 80px;
}
.lec{

    background-color: rgba(58, 86, 86, 0.283);
    backdrop-filter: blur(40px);
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.text{
/* background-color: aliceblue; */
font-weight: 900;
font-size: 30px;
width: 80%;
text-shadow: 6px 6px 6px solid black;

}
.rec img{

    width: 200px;
    /* border: 2px solid black; */
    border-radius:35px ;
    /* box-shadow: 10px solid black; */
    filter: drop-shadow(10px 10px 10px solid black);
    
    
}
.shirt img{
    border-radius: 35px;
}





.third{

    background-color: rgba(58, 86, 86, 0.283);
    backdrop-filter: blur(40px);
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h5{
font-weight: 900;
font-size: 30px;
width: 80%;
text-shadow: 6px 6px 6px solid black;
margin-left: 20px;
}
.last{

    background-color: rgba(0, 0, 0, 0.755);
    height: 150px;
    color: rgba(250, 235, 215, 0.394);
    font-weight: 900;
    text-align: center;
    justify-content: center;
    font-size: 20px;
}



