*{
    padding: 0;
    margin: 0;
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.main{
    background-image: url(img/Rain-or-Shine-II-Cover-Image-SS.webp);
    height: 100vh;
    position: relative;
}
.main .box{
    width: 100%;
    height: 100vh;
    opacity: 0.2;
    background-color: rgb(28, 29, 31);
    position: absolute;
    top: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    z-index: 2;

    /* border-bottom: 2px solid black; */
    height: 60px;
    /* justify-content: center; */
    align-items:center ;
    position: sticky;
    top: 0;
    
    
}
span{
    display: flex;
}
.logo{
    font-size: 40px;
    font-weight: 1000;
    margin-left: 3vw;
    /* height: 100px; */
    /* width: 100px; */
    /* border :2px solid black; */
    border-radius: 15px;
    background-color: rgba(240, 248, 255, 0.559);
    backdrop-filter: blur(1px);

}


span li{
    list-style: none;
    margin: 10px;
    /* margin-left:10vw; */
    
}
li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: black;
    /* cursor: pointer; */
}



button{
    height: 40px;
    margin-right:3vw ;
    width: 80px;
    color: aliceblue;
    font-weight: 800;
    background-color: black;
    border-radius: 15px;
  
    

}
.middle{

    display: flex;
    margin: 120px auto;
    /* margin-bottom: 50px; */
    margin-top: 200px;
    
    flex-direction: column;

    width: 900px;
    justify-content: center;
    font-weight: 900;
    font-size: x-large;
    align-items: center;
    padding: 50px;
    /* margin: 10px; */
}
.but{
    margin: 10px;
    width: 100px;
    height: 80px;
    /* z-index: 1; */
}
.lec{

    background-color: rgba(58, 86, 86, 0.283);
    backdrop-filter: blur(40px);
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.text{
/* background-color: aliceblue; */
font-weight: 900;
font-size: 30px;
width: 80%;
text-shadow: 6px 6px 6px solid black;

}
.rec img{

    width: 200px;
    /* border: 2px solid black; */
    border-radius:35px ;
    /* box-shadow: 10px solid black; */
    filter: drop-shadow(10px 10px 10px solid black);
    
    
}
.shirt img{
    border-radius: 35px;
}





.third{

    background-color: rgba(58, 86, 86, 0.283);
    backdrop-filter: blur(40px);
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h5{
font-weight: 900;
font-size: 30px;
width: 80%;
text-shadow: 6px 6px 6px solid black;
margin-left: 20px;
}
.last{

    background-color: rgba(0, 0, 0, 0.755);
    height: 150px;
    color: rgba(250, 235, 215, 0.394);
    font-weight: 900;
    text-align: center;
    justify-content: center;
    font-size: 20px;
}
.art{
    display: flex;
    width: 400px;
    border: 2px solid black;
    height: 300px;
    text-align: center;
    font-weight: 600;
    position: absolute;
    top :-50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.121);
    backdrop-filter: blur(20px);
    transition: 2s;
}
input{
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 350px;
    border-radius: 20px;
}

.show{
    top: 50%;
    z-index: 3;
}
i{
    width: 20px;
    height: 20px;
    background-color: cadetblue;
    position: inherit;
    /* margin-left: 50%; */
    display: block;
    margin-top: 2%;
    margin-left: 93%;
    /* top: 10px; */
    /* left: 20%; */
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 5px black;
}

i:hover{

    background-color: red;
    cursor: pointer;
}
.art button{
    margin-left: 10%;
}
.home{
    /* background-image: url("img/Rain-or-Shine-II-Cover-Image-SS.webp"); */
    background-color: rgba(255, 255, 255, 0.108);
    backdrop-filter: blur(20px);
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0%;
    /* font-size: 50px; */
    /* margi */
    opacity: 0;
    transition: 1.2s;
    text-align: center;
    align-items: center;
    /* margin: 10PX; */
    /* padding: 0 10px ; */
    z-index: 1;
}
.heart{

    display: block;
    margin-top: 130px;
    /* border: 2px solid black; */
    /* box-shadow: 2px 2px 2px solid gray; */
    width: 25%;
    height: 100%;
    /* margin: 10px; */
    align-items: center;
    justify-content: center;
    /* z-index: 1; */

   font-weight: 900;
   margin-left: 10%;

}
.heart input{
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.349);
    backdrop-filter: blur(30px);
    text-align: center;
}.heart label{
    margin-top: 30px;
}
.heart button{


    margin-top: 20px;
    margin-left: 12%;
}
.heart h3{

    margin-bottom: 20px;
}
.heart select{
    background-color: black;
    color: white;
}



h1{
    margin-top: 70px;
    text-align: center;

}
.homeshow{
    opacity:1;
    /* background-color: rgb(1, 4, 10); */
    
}
.help{
    /* background-image: url("img/Rain-or-Shine-II-Cover-Image-SS.webp"); */
    background-color: rgba(255, 255, 255, 0.101);
    backdrop-filter: blur(30px);
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0%;
    /* font-size: 50px; */
    /* margi */
    opacity: 0;
    transition: 1.4s;
    /* z-index: 1; */
}
h1{
    margin-top: 70px;
    text-align: center;

}
.showhelp{
    opacity: 1;
    z-index: -0;
}
.details{
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.097);
    backdrop-filter: blur(30px);
    transition: 2.2s;
    /* position: fixed; */
    position: absolute;
    transition: 1.2s;
    top: 201%;
    /* bottom: 0%; */
    opacity: 0;
    /* display: flex; */
    font-size: 30PX;
    
}
.mail{
 height: 20%;
 margin-top: 10%;
 text-align: center;
 border-bottom: 2px solid rgba(10, 10, 55, 0.337);


}
.phone{
    height: 20%;
    text-align: center;
}



.showdetail{
    position: absolute;
    top: 0%;
     z-index: -0;
     opacity: 1;

     /* transition: 2s; */
}
.more{
    background-color: rgba(33, 152, 199, 0.604);
    width: 100%;
    height: 100vh;
    display: flex;
    /* margin-top: 0%; */
    /* position: absolute; */
    /* top: 0%; */
    transition: 1.2s;
}
.showmore{

    position: absolute;
    top: 0%;
    z-index: 1;
}
.nothing{
    background-color: brown;
    width: 100%;
    height: 50vh;
}
.shownothing{
    position: absolute;
    top: 6%;
}
.res{
    position: absolute;
    /* background-color: rgb(132, 115, 115); */
    height: 100px;
    left: 600px;
    bottom: 510px;
    /* border: 2px solid black; */
    width: 400px;
    /* z-index: -1; */
}
.res1{
    position: absolute;
    /* background-color: rgb(98, 41, 41); */
    height: 100px;
    left: 600px;
    bottom: 390px;
    /* border: 2px solid black; */
    width: 400px;
    /* z-index: -1; */
}
.res2{
    position: absolute;
    /* background-color: rgb(219, 18, 18); */
    height: 100px;
    left: 600px;
    bottom: 260px;
    /* border: 2px solid black; */
    width: 400px;
    /* z-index: -1; */
}
.res3{
    position: absolute;
    /* background-color: rgb(234, 139, 139); */
    height: 100px;
    left: 600px;
    bottom: 130px;
    /* border: 2px solid black; */
    width: 400px;
    /* z-index: -1; */
}
.right{

   display: block;
   position: absolute;
   height: 560px;
   width: 450px;
   /* border: 2px solid black; */
   top: 12%;
   left: 68%;
}
.spn{
    color: darkred;
    font-size: 20px;
}





